<footer>

	<div class="container">
		<div class="row">

			<div class="col-lg-4 col-md-6">
				<div class="footer-section">

					<a class="logo" href="../public/index.php"><img src="../public/images/logo.png" alt="Logo Image"></a>
					<p class="copyright">Ednison MENDES @ {{ 'now' | date('Y') }}. All rights reserved.</p>
					

				</div>
				<!-- footer-section -->
			</div>
			<!-- col-lg-4 col-md-6 -->

			<div class="col-lg-4 col-md-6">
				<div class="footer-section">

					<ul class="icons">
						<li>
							<a href="https://www.linkedin.com" target="_blank">
								<i class="ion-social-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="https://www.twitter.com" target="_blank">
								<i class="ion-social-twitter"></i>
							</a>
						</li>
						<li>
							<a href="https://www.github.com" target="_blank">
								<i class="ion-social-github"></i>
							</a>
						</li>
						<li>
							<a href="https://www.pinterest.com" target="_blank">
								<i class="ion-social-pinterest"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- footer-section -->
			</div>
			<!-- col-lg-4 col-md-6 -->



			<div class="col-lg-4 col-md-6">
				<div class="footer-section">

					
										<b>TÉLÉCHARGEZ MON CV</b>	<a target="_blank" href="../public/pdf/cv.pdf"><i class="icon ion-ios-cloud-download"></i></a>

				</div>
				<!-- footer-section -->
			</div>
			<!-- col-lg-4 col-md-6 -->

		</div>
		<!-- row -->
	</div>
	<!-- container -->
</footer>
