<form method="post" action="../public/index.php?url=search">
    <label for="search">Rechercher</label>
    <input id="search" type="search" name="search">
    <label for="articles">Inclure les articles</label>
    <input type="checkbox" id="articles" name="articles">
    <input type="submit">
</form>