<header>
	<div class="container-fluid position-relative no-side-padding">

		<a href="../public/index.php" class="logo"><img src="../public/images/logo.png" alt="Logo Image"></a>

		<div class="menu-nav-icon" data-nav-menu="#main-menu">
			<i class="ion-navicon"></i>
		</div>

		<ul class="main-menu visible-on-click" id="main-menu">
			<li>
				<a href="../public/index.php">Accueil</a>
			</li>
			<li>
				<a href="../public/index.php?url=blog">Blog</a>
			</li>
			<li>
				<a href="../public/index.php?url=contact">Contact</a>
			</li>
			{% if session.get('pseudo') %}
				<li>
					<a href="../public/index.php?url=logout">Déconnexion</a>
				</li>
				<li>
					<a href="../public/index.php?url=profile">Profil</a>
				</li>
				{% if session.get('role') is same as('user') %}
					<li>
						<a href="../public/index.php?url=administration">Administration</a>
					</li>
				{% endif %}
				{% if session.get('role') is same as('admin') %}
					<li>
						<a href="../public/index.php?url=administration">Administration</a>
					</li>
				{% endif %}
			{% else %}
				<li>
					<a href="../public/index.php?url=register">Inscription</a>
				</li>
				<li>
					<a href="../public/index.php?url=login">Connexion</a>
				</li>
			{% endif %}
		</ul>
		<!-- main-menu -->

		<div class="src-area">
			<form method="post" action="../public/index.php?url=search">
				<button class="src-btn" type="submit">
					<i class="ion-ios-search-strong"></i>
				</button>
				<input class="src-input" type="text" placeholder="Rechercher" id="search" name="search">


				<div class="form-check">
					<input class="form-check-input hideSearch" type="checkbox" id="articles" name="articles" checked>
					<label class="form-check-label hideSearch" for="articles">
						Articles
					</label>
				</div>
				<!--
																<div class="form-check">
																	<input class="form-check-input" type="checkbox" id="comments" name="comments">
																	<label class="form-check-label" for="comments">
																		Commentaires
																	</label>
																</div>-->
			</form>

		</div>

	</div>
	<!-- conatiner -->
</header>
