{% extends 'base.html.twig' %}
{% block title %}Page non trouvée{% endblock %}
{% block content %}
    <h1>Page non trouvée</h1>
    <p class="text-center"><a class="btn btn-secondary" href="../public/index.php">Retour à l'accueil</a></p>
{% endblock %}