{% extends 'base.html.twig' %}
{% block title %}Nouvel article{% endblock %}
{% block content %}
<div>
    {{ include('back/form_article.html.twig') }}
    <a href="../public/index.php">Retour à l'accueil</a>
</div>
{% endblock %}