{% extends 'base.html.twig' %}
{% block title %}Modifier l'article{% endblock %}
{% block content %}
    <div>
        {{ include('back/form_article.html.twig') }}
        <hr>
        <a class="btn btn-secondary" href="../public/index.php">Retour à l'accueil</a>
    </div>
{% endblock %}  