{% extends 'base.html.twig' %}
{% block title %}Mon profil{% endblock %}
{% block content %}
{{ session.show('update_password') }}
<div>
    <h2>{{ session.get('pseudo') }}</h2>
    <p>{{ session.get('id') }}</p>
    <a href="../public/index.php?url=updatePassword">Modifier son mot de passe</a>
    <a href="../public/index.php?url=deleteAccount">Supprimer mon compte</a>
</div>
<br>
<a href="../public/index.php">Retour à l'accueil</a>
{% endblock %}